@import "variables";

.searchbar_container {
  text-align: center;
}

.searchbar_container input {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.blogs_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.blogs_container img {
  @include images;
}

@media (max-width: 900px) {
  .blogs_container {
    display: flex;
    flex-direction: column;
  }
}
