nav a {
  text-decoration: none;
  color: black;
  padding: 5px;
  transition: {
    font-size: 3em;
    color: black;
  }
  &:hover {
    font-weight: bold;
    color: black;
  }
}

@media (max-width: 900px) {
  nav a {
    padding: 0px;
    text-align: center;
  }
}
