$theme-colors: (
  Heading: black,
  Buttons: rgb(12, 94, 12),
  Warning: #ffc107,
);

@mixin images {
  padding: 10;
  border-radius: 10px;
  width: 100%;
}

@mixin nav {
  text-decoration: none;
  color: black;

  font-style: italic;
  padding: 5px;
  transition: {
    font-size: 3em;
    color: black;
  }
  &:hover {
    color: black;
    font-style: italic;
    font-weight: bold;
  }
}

@mixin text-alignment {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@mixin headings {
  h4,
  h3,
  p {
    color: black;
  }
  &:hover {
    font-weight: bold;
    font-style: oblique;
  }
}
